<ion-header no-border no-shaddow>
  <ion-toolbar>
    <ion-title class="txt-center">
      Multi Kreasi Cemerlang
    </ion-title>
    <ion-buttons slot="primary" *ngIf="userType == 'company'">
      <button class="btn-xl btn-transparent txt-l" (click)="logout()">
        <i class='fas fa-sign-out-alt'></i>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="card-outline-primary">
    <ion-item>
      <ion-icon color="primary" name="stopwatch-outline" slot="start"></ion-icon>
      <ion-label>Judul Tiket <br><span class="txt-xs txt-danger">1 New Message</span></ion-label>
      <ion-button fill="outline" slot="end" routerLink="detail" routerDirection="forward">View</ion-button>
    </ion-item>
    <ion-card-content>
      genteng bocor
    </ion-card-content>
  </ion-card>

  <ion-card class="card-outline-warning">
    <ion-item>
      <ion-icon color="warning" name="information-circle-outline" slot="start"></ion-icon>
      <ion-label>Judul Tiket</ion-label>
      <ion-button color="warning" fill="outline" slot="end" routerLink="detail" routerDirection="forward">View</ion-button>
    </ion-item>
    <ion-card-content>
      genteng bocor
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer no-border no-shaddow class="ion-padding" *ngIf="userType == 'company'">
  <ion-button color="primary" expand="block" routerLink="create" routerDirection="forward">
    <ion-icon name="add-circle-outline" slot="start"></ion-icon>
    Add New Ticket
  </ion-button>
</ion-footer>