<ion-header no-border no-shaddow>
  <ion-toolbar>
    <ion-title class="txt-center">
      Multi Kreasi Cemerlang
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="checkInForm">
    <ion-grid>
      <ion-row class="ion-padding">
        <h2><i class='fas fa-calendar-alt'></i> Check In</h2>
      </ion-row>
      <ion-row class="ion-padding">
        <ion-col size="2">
          <i class='fas fa-camera'
            style="font-size: 24pt !important; padding-top: 10px; text-align: center !important"></i>
        </ion-col>
        <ion-col size="8">
          <h4 style="margin: 0;">Take a selfie!</h4>
          <p style="font-size: 10pt;margin: 0;">Before you go to work, don't forget to take your picture</p>
        </ion-col>
      </ion-row>
      <ion-row class="ion-padding">
        <ion-col size="2">
        </ion-col>
        <ion-col size="4">
          <div (click)="onTakePhoto()">
            <img src="../../../assets/img/profile-pic-dummy.png" style="border: 1px solid" *ngIf="!base64Image">
            <img [src]="base64Image" *ngIf="base64Image" />
          </div>
        </ion-col>
      </ion-row>
      <!-- <ion-row class="ion-padding">
        <ion-col size="2">
          <i class='fas fa-map-marker-alt'
            style="font-size: 24pt !important; padding-top: 10px; text-align: center !important"></i>
        </ion-col>
        <ion-col size="8">
          <h4 style="margin: 0;">Tag your location!</h4>
          <p style="font-size: 10pt;margin: 0;">And also pin your location!</p>
        </ion-col>
      </ion-row> -->
      <!-- <ion-row class="ion-padding">
        <ion-col size="2"></ion-col>
        <ion-col size="8">
          <agm-map [latitude]="lat" [longitude]="lng" [zoom]="16" (mapClick)="onSetMarker($event)">
            <agm-marker [latitude]="marker.lat" [longitude]="marker.lng"></agm-marker>
          </agm-map>
          <ion-input type="hidden" value="{{ lat }}" formControlName="latitude"></ion-input>
          <ion-input type="hidden" value="{{ lng }}" formControlName="longitude"></ion-input>
        </ion-col>
      </ion-row> -->
      <!-- <ion-row class="ion-padding">
        <ion-col size="2"></ion-col>
        <ion-col size="9">
          <button type="button" ion-button class="btn btn-full btn-primary" (click)="onLocate()">Get Your
            Location</button>
        </ion-col>
      </ion-row> -->
      <br>
      <ion-row class="ion-padding">
        <ion-col size="8">
          <ion-checkbox formControlName="absent"></ion-checkbox>
          <ion-label style="padding-left: 10px;">Can not go to work</ion-label>
        </ion-col>
      </ion-row>
      <ion-row class="ion-padding">
        <ion-col>
          <ion-button style="float:right; height: 30px" type="submit" (click)="onSubmit()"
            [disabled]="!checkInForm.valid">Submit</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>

</ion-content>