<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" *ngIf="userType == 'employee'">
      <i class='fas fa-home'></i>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="checkin" *ngIf="userType == 'employee'">
      <i class='fas fa-suitcase'></i>
      <ion-label>Check In</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="ticket">
      <i class='fas fa-ticket-alt'></i>
      <ion-label>Ticket</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <i class='fas fa-user'></i>
      <ion-label>Profile</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
