<ion-content padding>
  <ion-grid>
    <ion-row style="margin-top: 200px !important"></ion-row>
    <ion-row>
      <ion-col size="12" class="txt-center">
        Multi Kreasi Cemerlang
      </ion-col>
    </ion-row>
    <form (ngSubmit)="onSubmit()" [formGroup]="loginForm">
      <ion-row>
        <ion-col col-12>
          <ion-row>
            <ion-col>
              <ion-input full placeholder="Username" type="text" formControlName="username"
                style="border-bottom: 1px solid lightgray;font-size: 10pt"></ion-input>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-input full placeholder="Password" type="password" formControlName="password"
                style="border-bottom: 1px solid lightgray;font-size: 10pt"></ion-input>
            </ion-col>
          </ion-row>
          <br>
          <ion-row>
            <ion-col style="text-align: center !important">
              <ion-button style="width: 25%" [disabled]="!loginForm.valid" type="submit">Login</ion-button><br>
              <!-- <a style="font-size: 10pt;text-decoration: underline" routerLink="/forgot-password"
                routerDirection="root">Forgot Password</a> -->
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </form>
  </ion-grid>
</ion-content>