<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      Add New Ticket
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="addTicketForm">
    <ion-list>
      <ion-item lines="none" class="ion-no-padding">
        <ion-label position="stacked">Title <span class="txt-danger">*</span></ion-label>
        <ion-input class="form-control mg-t-10" placeholder="Nama" formControlName="title"></ion-input>
      </ion-item>
  
      <ion-item lines="none" class="ion-no-padding">
        <ion-label position="stacked">Description <span class="txt-danger">*</span></ion-label>
        <ion-textarea class="form-control mg-t-10" placeholder="Alamat" formControlName="description"></ion-textarea>
      </ion-item>
  
      <br>
      <ion-item lines="none" class="ion-no-padding">
        <ion-button class="btn-block" type="submit" [disabled]="!addTicketForm.valid" color="primary" size="default">SUBMIT
        </ion-button>
      </ion-item>
    </ion-list>
  </form>
</ion-content>