<ion-header class="header-no-border">
  <ion-toolbar>
    <ion-title class="txt-center">
      Multi Kreasi Cemerlang
    </ion-title>
    <ion-buttons slot="primary">
      <button class="btn-xl btn-transparent txt-l" (click)="logout()">
        <i class='fas fa-sign-out-alt'></i>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="card-outline-primary">
    <ion-item>
      <span slot="start">3</span>
      <ion-label>Tiket Baru</ion-label>
      <ion-button fill="outline" slot="end">View</ion-button>
    </ion-item>
  </ion-card>

  <ion-card class="card-outline-warning">
    <ion-item>
      <span slot="start">2</span>
      <ion-label>Tiket Menunggu</ion-label>
      <ion-button color="warning" fill="outline" slot="end">View</ion-button>
    </ion-item>
  </ion-card>

  <ion-card class="card-outline-danger">
    <ion-item>
      <span slot="start">1</span>
      <ion-label>Tiket Belum Selesai</ion-label>
      <ion-button color="danger" fill="outline" slot="end">View</ion-button>
    </ion-item>
  </ion-card>
</ion-content>