/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

.header-md:after, .header-ios:after {
    background-image: none !important;
}

.footer-md:before, .footer-ios:before {
    background-image: none !important;
}

/* TEXT */
.txt-center {
    text-align: center;
}

.txt-left {
    text-align: left;
}

.txt-right {
    text-align: right;
}

.txt-primary {
    color: var(--ion-color-primary);
}

.txt-danger {
    color: var(--ion-color-danger)
}

.txt-muted {
    color: lightslategray;
}

.txt-xs {
    font-size: 12px !important;
}

.txt-s {
    font-size: 14px !important;
}

.txt-m {
    font-size: 16px !important;
}

.txt-l {
    font-size: 20px !important;
}

.txt-xl {
    font-size: 24px !important;
}
/* TEXT */

/* BUTTON */
.btn-s {
    width: 25%;
}

.btn-m {
    width: 50%;
}

.btn-l {
    width: 75%;
}

.btn-xl {
    width: 100%
}

 /*background*/
.btn-transparent {
    background: none;
}

/*text*/
.btn-txt-light {
    color: white;
}

.btn-block {
	width: 100%;
}
/* BUTTON */

/* CARD */
.card-outline-primary {
    border: 2px solid;
    border-color: var(--ion-color-primary);
}

.card-outline-warning {
    border: 2px solid;
    border-color: var(--ion-color-warning);
}

.card-outline-danger {
    border: 2px solid;
    border-color: var(--ion-color-danger);
}

.ion-card-footer {
    border-top: 1px solid #e9e9e9;
}
/* CARD */

/* POSITION */
.float-right {
    float: right
}

.float-left {
    float: left;
}
/* POSITION */

/* PADDING & MARGIN */
.mg-t-0 {
    margin-top: 0px !important;
}

.mg-t-10 {
    margin-top: 10px !important;
}
/* PADDING & MARGIN */

/* FORM */
form {
	width: 100%;
}

.label-stacked {
    font-size: 18px !important;
}

ion-input {
    font-size: 15px !important;
}

.span-info {
    font-size: 12px !important;
	color: lightslategray;
}

.form-control {
	border-radius: 5px;
	border: 2px solid grey;
    padding: 5px 15px !important;
}

.form-control-datetime, .form-control-select {
	padding: 12px 15px !important;
}

.alert-radio-label, .txt-capitalize {
	text-transform: capitalize !important;
}
/* FORM */