<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      Ticket Detail
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-footer class="ion-padding">
  <ion-list>
    <ion-item lines="none" class="ion-no-padding">
      <ion-avatar slot="start" class="ion-margin-start">
        <ion-icon name="person-outline" size="large"></ion-icon>
      </ion-avatar>
      <ion-label>
        <h2>Admin</h2>
        <p>Listen, I've had a pretty messed up day...</p>
      </ion-label>
    </ion-item>
    <ion-item lines="none" class="ion-no-padding">
      <ion-avatar slot="end" class="ion-margin-end">
        <ion-icon name="person-outline" size="large"></ion-icon>
      </ion-avatar>
      <ion-label class="ion-text-right">
        <h2>User</h2>
        <p>Listen, I've had a pretty messed up day...</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <form (ngSubmit)="onSubmit()" [formGroup]="messageForm">
    <ion-list class="ion-no-padding">
      <ion-item lines="none" class="ion-no-padding">
        <ion-buttons slot="start" class="ion-no-margin">
          <button class="btn-xl btn-transparent txt-l txt-center" style>
            <i class='fas fa-plus'></i>
          </button>
        </ion-buttons>
        <ion-input class="form-control" formControlName="message"></ion-input>
        <ion-buttons slot="end" class="ion-no-margin">
          <button class="btn-xl btn-transparent txt-l txt-center">
            <i class='fas fa-paper-plane'></i>
          </button>
        </ion-buttons>
      </ion-item>
    </ion-list>
  </form>
</ion-footer>